<ion-app>

    <ion-menu side="start" type="push" #mymenu>
        <ion-header>
            <ion-toolbar color="dark">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <!-- List of Text Items -->
        <ion-content>
            <ion-list>
                <ion-item href="/" (click)="mymenu.close()">
                    <ion-label>Home</ion-label>
                </ion-item>
             
              

                <ion-item href="/map" (click)="closeMenu()">
                    <ion-label>Map</ion-label>
                    <ion-icon item-end name="map"></ion-icon>
                </ion-item>
              
            </ion-list>

        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
