<ion-card>
    <ion-card-header>
        <ion-card-subtitle>UID: {{ user.uid }}</ion-card-subtitle>
        <img [src]="user.photoURL || 'assets/icon/anon.svg'">
        <ion-card-title>{{ user.displayName || 'Mysterious User' }}</ion-card-title>
		
        Anonymous: {{ user.isAnonymous }}<br> Email: {{ user.email || 'unknown' }}
    </ion-card-header>

    <ion-card-content>
		<ion-button color="blue" (click)="createPoint1()">Enviar ubicación</ion-button>
		<ion-button color="red" (click)="stopgeo()">Parar ubicación</ion-button>
    </ion-card-content>
</ion-card>